

.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  pointer-events: none;
}

circle {
  pointer-events: all;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}
body {
  background: #241e30;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #ffffff;
}
section:nth-child(2) {
  color: #42455a;
  background: #edecf0;
}
section:nth-child(3) {
  color: #ffffff;
}
section:nth-child(4) {
  color: #42455a;
  background: #ffffff;
}
section:nth-child(5) {
  color: #ffffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #786ba8;
  border-radius: 5pt;
}

section .text-container .text-box2 {
  margin: 20px;
  padding: 20px;
  background: #c0b1f7;
  border-radius: 5pt;
}

section .text-container .graph {
  margin: 20px;
  padding: 20px;
  color: black;
  background: #ffffff;
  outline: 2px solid black;
  border-radius: 5pt;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
section .text-container .text-box2 h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}

@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .circle {
    fill-opacity: 0.5;
    fill: #69b3a2;
  }
  
  .selected {
    stroke: black;
    stroke-width: 2;
  }
  circle.selected {
    fill: red;
    opacity: 1;
  }